<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">

    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    {% block head %}
    
    {% endblock head %}
    <title>Venue Booking</title>
</head>
<body>

    <main class="wrapper">
        <nav class="navigation">
            <section class="container">
                <a href="/" class="navigation-title"><h3>KMC Venue Booking</h3></a>
            </section>
        </nav>
    {% block body %}
    
    {% endblock body %}
    </main>
    {% block js %}
    
    {% endblock js %}
    <footer class="footer">
        {% block footer %}
        
        {% endblock footer %}
    </footer>
</body>
</html>