{% extends "venue/base.html" %}
{% block body %}
<section class="container">
    <h3>Timetables</h3>

    {% for batch in batches %}
    <h3>
        <a href="https://calendar.google.com/calendar/render?cid={{batch.calander_id|urlencode}}">{{batch.semester}} {{batch.batch}}</a>
    </h3>
    {% endfor %}
    


        {% for cal in eventcals %}
        <h3>
            <a href="https://calendar.google.com/calendar/render?cid={{cal.calander_id|urlencode}}">{{cal.name}}</a>
            
        </h3>
        {% endfor %}

<script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
<script>new Clipboard('.clp');</script>

</section>
{% endblock body %}