amqp==2.2.1
anyjson==0.3.3
asn1crypto==0.23.0
billiard==3.5.0.3
celery==4.1.0
certifi==2017.7.27.1
cffi==1.11.0
chardet==3.0.4
colorama==0.3.9
coverage==4.4.1
cryptography==2.0.3
dj-database-url==0.4.2
Django==1.11.4
django-celery==3.2.1
django-celery-beat==1.0.1
django-decouple==2.1
django-flat-responsive==1.4.1
django-recaptcha2==1.0.3
django-sesame==1.2
django-tastypie==0.14.0
google-api-python-client==1.6.4
gunicorn==19.7.1
httplib2==0.10.3
idna==2.6
kombu==4.1.0
mock==2.0.0
newrelic==2.92.0.78
oauth2client==4.1.2
pbr==3.1.1
psycopg2==2.7.3
py==1.4.34
pyasn1==0.3.6
pyasn1-modules==0.1.4
pycparser==2.18
pytest==3.2.1
pytest-django==3.1.2
python-dateutil==2.6.1
python-mimeparse==1.6.0
pytz==2017.2
redis==2.10.6
requests==2.20.0
rsa==3.4.2
six==1.11.0
tzlocal==1.4
uritemplate==3.0.0
urllib3==1.22
vine==1.1.4
whitenoise==3.3.0
