{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Manipal Attendance Claims</title>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
   <link rel="stylesheet" href="{% static 'css/min.css' %}" type="text/css" />
   <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  </head>
  <body>

      {% block body %}

      {% endblock body %}
      <!--
      <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/list.js' %}"></script>
      -->
      <script type="text/javascript" src="{% static 'js/js-cookie.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/FileSaver.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/script_index.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/script_sender.js' %}"></script>

    </body>
  </html>
