{% extends "attendance/base.html" %}
{% load static %}
{% block body %}

<div id="viewport">
        <div class="show">
          <h1>Attendance Claims</h1>
          <p>Fill out the form below to claim attendance for events you've had to cover.</p>
        </div>

        <div id="name" class="show">
          <div class="tooltip">What's your name?</div>
          <input id="name_text" type="text"/>
          <div id="name_validation" class="validation"></div>
        </div>
        <div id="email">
          <div class="tooltip">Enter your email address.</div>
          <input id="email_email" type="email"/>
          <div id="email_validation" class="validation"></div>
        </div>
        <div id="rollnumber">
          <div class="tooltip">What's your roll number?</div>
          <input id="rollnumber_number" type="number"/>
          <div id="rollnumber_validation" class="validation"></div>
        </div>
        <div id="serialNumber">
          <div class="tooltip">What's your Serial number?</div>
          <input id="serialNumber_number" type="number"/>
          <div id="serialNumber_validation" class="validation"></div>
        </div>
        <div id="batch">
          <div class="tooltip">Which year and batch are you in?</div>
          <div id="batch_batches"></div>
        </div>
        <div id="classes">
          <div class="tooltip">Select the classes you've missed.</div>
          <div id="classes_calendar">
            <table>
              <thead>
                <tr>
                  <th colspan="1" id="classes_calendar_prev" style="cursor:pointer;"><</th>
                  <th colspan="5" id="classes_calendar_month">MONTH</th>
                  <th colspan="1" id="classes_calendar_next" style="cursor:pointer;">></th>
                </tr>
                <tr>
                  <th>Mon</th>
                  <th>Tue</th>
                  <th>Wed</th>
                  <th>Thu</th>
                  <th>Fri</th>
                  <th>Sat</th>
                  <th>Sun</th>
                </tr>
              </thead>
              <tbody id="classes_calendar_dates"></tbody>
            </table>
          </div>
          <div id="classes_datedList"><div class="tooltip" style="text-align:center;">Select the Batch and Date to Load Classes Then.</div></div>
          <div id="classes_selection">
            <div class="tooltip">Selected Classes</div>
            <div id="classes_selection_selection"></div>
          </div>
          <div id="classes_validation" class="validation"></div>
        </div>
        <div id="events">
          <div class="tooltip">Which event did you miss these classes for?</div>
          <select id="events_stand"></select>
        </div>
        <div id="buttonTray" class="show">
          <button id="buttonTray_next">Submit</button>
        </div>
        <div id="status"></div>
        <div id="download"></div>
      </div>

      <script>
const departments = (function () {
  var depts = {};
  var ele = document.createElement('div');
  ele.innerHTML = `{{periodform.department}}`;
  ele.querySelectorAll('option').forEach(function (el) {
    depts[el.getAttribute('value')] = el.innerHTML;
  });
  return depts;
})();
const batches = (function () {
  var bts = {};
  var ele = document.createElement('div');
  ele.innerHTML = `{{periodform.batch}}`;
  ele.querySelectorAll('option').forEach(function (el) {
    bts[el.getAttribute('value')] = el.innerHTML;
  });
  return bts;
})();
const events = (function () {
  var evts = {};
  var ele = document.createElement('div');
  ele.innerHTML = `{{studentform.event}}`;
  ele.querySelectorAll('option').forEach(function (el) {
    evts[el.getAttribute('value')] = el.innerHTML;
  });
  return evts;
})();
      </script>
{% endblock body %}
