{% extends "base.html" %}
{% block body %}
<section class="container">
<h2>{{booking.title}}</h2>
<h4>{{booking.venue}} from <a>{{booking.start_time|time:"g:iA"|lower}}</a>  to <a>{{booking.end_time|time:"g:iA"|lower}}</a></h4> 


<p>{{booking.description}}</p>

</section>

{%if user.is_authenticated%}
<!-- For auth only -->
<section class="container">
<form action="{% url 'detail' booking.pk %}" method="post">{% csrf_token %}
{{form.status.label_tag}}
{{form.status}}
<input type="submit" value="OK">
</form>
</section>
{%endif%}
{% endblock body %}

{% block footer %}
{% if not user.is_authenticated %}
<section class="container">
<a href="{%url 'login'%}"><button class="button button-outline">Login</button></a>
</section>
{%else%}
<section class="container">
<a href="{%url 'logout'%}"><button class="button button-outline">Logout</button></a>
</section>
{% endif %}
{% endblock footer %}